---
layout: default
---

<div class="container" style="margin-top: 2em">
  <p class="text-center">
    <span class="rounded-pill bg-primary text-white p-2 px-3"
      >{{ page.type }}</span
    >
  </p>
  <h1 class="text-center">{{ page.title }}</h1>
  <h2 class="text-center text-muted">{{ page.authors }}</h2>
  <p class="text-center text-secondary">{{ page.date | date: "%-d %B %Y" }}</p>
  {% if page.access == "open" %}
  <p class="text-center">
    <span class="badge bg-white text-dark border border-dark" border-1
      ><span class="fas fa-lock-open"></span> Open Access
    </span>
  </p>
  {% endif %} {% if page.abstract %}
  <h3>Abstract</h3>
  <p>{{ page.abstract }}</p>
  {% endif %} {% if page.presented %}
  <h3>Presentations</h3>
  <ul class="list-unstyled">
    {% for presentation in site.data.presentations %} {% if presentation.title
    == page.title %}
    <li class="d-flex justify-content-between">
      <span
        >[{{ presentation.date }}]
        <i
          ><a
            href="{{ presentation.event-url }}"
            class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover"
            target="_blank"
            >{{ presentation.event }}</a
          ></i
        >
        in {{ presentation.location }}</span
      ><span class="text-end">
        [<a
          href="{{ site.baseurl }}/files/presentation/{{ presentation.file }}"
          class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover"
          target="_blank"
          >📑 {{ presentation.type }}</a
        >]
      </span>
    </li>
    {% endif %} {% endfor %}
  </ul>
  {% endif %}
</div>
