---
layout: default
---

<div class="container" style="margin-top: 2em">
  <p class="text-center">
    <span class="rounded-pill bg-primary text-white p-2 px-3"
      >{{ page.type }}</span
    >
  </p>
  <h1 class="text-center">{{ page.title }}</h1>
  <h2 class="text-center text-muted">{{ page.authors }}</h2>
  <p class="text-center text-secondary">{{ page.date | date: "%-d %B %Y" }}</p>
  {% if page.access == "open" %}
  <p class="text-center">
    <span class="badge bg-white text-dark border border-dark" border-1
      ><span class="fas fa-lock-open"></span> Open Access
    </span>
  </p>
  {% endif %}
  <h3>Status</h3>
  <table class="table table-borderless table-sm">
    <tbody>
      {% if page.accepted-url %}
      <tr>
        <td>
          <span class="badge rounded-pill text-info border border-info"
            >ACCEPTED</span
          >
        </td>
        <td></td>
        <td>
          <a
            href="{{ page.accepted-url }}"
            target="_blank"
            class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover"
            >{{ page.accepted-url }}</a
          >
        </td>
      </tr>
      {% endif %} {% if page.presentation-date %}
      <tr>
        <td>
          <span class="badge rounded-pill text-warning border border-warning"
            >PRESENTED</span
          >
        </td>
        <td>{{ page.presentation-date | date: "%-d %B %Y" }}</td>
        <td></td>
      </tr>
      {% endif %} {% if page.date %}
      <tr>
        <td>
          <span class="badge rounded-pill text-success border border-success"
            >PUBLISHED</span
          >
        </td>
        <td>{{ page.date | date: "%-d %B %Y" }}</td>
        <td>
          <a
            href="{{ page.publication-url }}"
            target="_blank"
            class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover"
            >{{ page.publication-url }}</a
          >
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if page.abstract %}
  <h3>Abstract</h3>
  <p>{{ page.abstract }}</p>
  {% endif %} {% if page.presented %}
  <h3>Presentations</h3>
  <ul class="list-unstyled">
    {% for presentation in site.data.presentations %} {% if presentation.title
    == page.title %}
    <li class="d-flex justify-content-between">
      <span
        >[{{ presentation.date }}]
        <i
          ><a
            href="{{ presentation.event-url }}"
            class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover"
            target="_blank"
            >{{ presentation.event }}</a
          ></i
        >
        in {{ presentation.location }}</span
      ><span class="text-end">
        [<a
          href="{{ site.baseurl }}/files/presentation/{{ presentation.file }}"
          class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover"
          target="_blank"
          >📑 {{ presentation.type }}</a
        >]
      </span>
    </li>
    {% endif %} {% endfor %}
  </ul>
  {% endif %}
</div>
